<div class="adicionar-cliente-container">
  <div class="adicionar-cliente-content">
    <div class="welcome-message">
      <h1>Adicionar Cliente</h1>
      <h2>Adicione clientes para facilitar os seus projetos!</h2>
    </div>

    <form (ngSubmit)="onSubmit()" #signupForm="ngForm" novalidate>
      <label for="nome">Nome:</label>
      <input type="text" id="nome" [(ngModel)]="fullName" name="fullName" required>
      <div *ngIf="signupForm.controls['fullName']?.invalid && signupForm.controls['fullName']?.touched" class="error-message">
        O nome é obrigatório.
      </div>

      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" required>
      <div *ngIf="signupForm.controls['email']?.invalid && signupForm.controls['email']?.touched" class="error-message">
        O email deve ser válido.
      </div>

      <button type="submit" [disabled]="!signupForm.valid">Cadastrar</button>
    </form>

  <div class="signup-background"></div>
</div>
