<div class="sidebar">
  <div class="nav-group">
    <div class="section-title">Principal</div>
    <nav>
      <ul>
        <li>
          <a routerLink="/user/users-dashboard" routerLinkActive="active">
            <i class="pi pi-home"></i>
            <span>Dashboard</span>
          </a>
        </li>

        <li>
          <a routerLink="/user/projects" routerLinkActive="active" class="has-submenu">
            <i class="pi pi-folder"></i>
            <span>Projetos</span>
            <i class="pi pi-chevron-right submenu-arrow"></i>
          </a>
        </li>

        <li>
          <a routerLink="/user/activities" routerLinkActive="active" class="has-submenu">
            <i class="pi pi-check-square"></i>
            <span>Atividades</span>
            <i class="pi pi-chevron-right submenu-arrow"></i>
          </a>
        </li>

        <li>
          <a routerLink="/user/users-relatorios" routerLinkActive="active" class="has-submenu">
            <i class="pi pi-chart-bar"></i>
            <span>Relatórios</span>
            <i class="pi pi-chevron-right submenu-arrow"></i>
          </a>
        </li>

        <li>
          <a routerLink="/user/time-tracking" routerLinkActive="active">
            <i class="pi pi-clock"></i>
            <span>Lançamento de Horas</span>
          </a>
        </li>

        <li>
          <a routerLink="/user/time-history" routerLinkActive="active">
            <i class="pi pi-clock"></i>
            <span>Histórico de Horas</span>
          </a>
        </li>

      </ul>
    </nav>
  </div>

  <div class="nav-group">
    <div class="section-title">Configurações</div>
    <nav>
      <ul>
        <li>
          <a routerLink="/user/profile" routerLinkActive="active">
            <i class="pi pi-user"></i>
            <span>Meu Perfil</span>
          </a>
        </li>
        <li>
          <a routerLink="/help-page" routerLinkActive="active">
            <i class="pi pi-question-circle"></i>
            <span>Central de Ajuda</span>
          </a>
        </li>
        <li>
          <a routerLink="/contact" routerLinkActive="active">
            <i class="pi pi-send"></i>
            <span>Fale Conosco</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="user-info">
    <div class="user-avatar">
      <a routerLink="/user/profile" routerLinkActive="active">
        <i class="pi pi-user"></i>
      </a>
    </div>
    <div class="user-details">
      <span class="user-name">Nome do Usuário</span>
      <a routerLink="/logout" class="logout-link">
        <i class="pi pi-sign-out"></i>
        <button *ngIf="isAuthenticated$ | async" (click)="logout()">Logout</button>
      </a>
    </div>
  </div>
</div>
