<app-admin-sidebar></app-admin-sidebar>
<app-admin-header></app-admin-header>

<div class="help-center-container">
  <div class="help-header">
    <h1>Central de Ajuda</h1>
    <p class="subtitle">Como podemos ajudar você hoje?</p>

    <div class="search-container">
      <input
        type="text"
        [(ngModel)]="searchQuery"
        placeholder="Busque por suas dúvidas..."
        class="search-input"
      >
    </div>
  </div>

  <div class="quick-links">
    <div class="quick-link-card" *ngFor="let link of quickLinks">
      <a
        *ngIf="link.title === 'Contate-nos'"
        routerLink="/contact"
        class="quick-link-card-link"
      >
        <div class="icon-circle">
          <i class="fas {{ link.icon }}"></i>
        </div>
        <h3>{{ link.title }}</h3>
        <p>{{ link.description }}</p>
      </a>

      <a
        *ngIf="link.title === 'Suporte'"
        href="https://wa.me/41988869690?text=Ol%C3%A1%2C%20tudo%20bem%3F%20Sou%20administrador%20do%20TimeTracker%20e%20estou%20com%20uma%20d%C3%BAvida%2C%20voc%C3%AA%20poderia%20me%20ajudar%3F"
        target="_blank"
        class="quick-link-card-link"
      >
        <div class="icon-circle">
          <i class="fas {{ link.icon }}"></i>
        </div>
        <h3>{{ link.title }}</h3>
        <p>{{ link.description }}</p>
      </a>

      <a
      *ngIf="link.title === 'Acessar Configurações'"
      routerLink="/admin/admin-profile"
      class="quick-link-card-link"
    >
      <div class="icon-circle">
        <i class="fas {{ link.icon }}"></i>
      </div>
      <h3>{{ link.title }}</h3>
      <p>{{ link.description }}</p>
    </a>
    </div>
  </div>

  <div class="faq-container">
    <div class="category-filters">
      <button
        *ngFor="let category of categories"
        [class.active]="selectedCategory === category.id"
        (click)="selectCategory(category.id)"
        class="category-btn"
      >
        <i class="fas {{ category.icon }}"></i>
        {{ category.name }}
      </button>
    </div>

    <div class="faq-section">
      <div class="faq-item" *ngFor="let item of filteredFaqs">
        <div class="faq-question" (click)="toggleFaq(item)">
          <span>{{ item.question }}</span>
          <i class="fas" [class.fa-chevron-up]="item.isOpen" [class.fa-chevron-down]="!item.isOpen"></i>
        </div>
        <div class="faq-answer" [class.open]="item.isOpen">
          {{ item.answer }}
        </div>
      </div>
    </div>
  </div>

  <div class="contact-section">
    <h3>Ainda precisa de ajuda?</h3>
    <div class="contact-options">
      <a href="mailto:contato@timetracker.com">
        <i class="pi pi-envelope"></i>
        contato@timetracker.com
      </a>
      <span class="divider">|</span>
      <a href="tel:+55413333-3333">
        <i class="pi pi-phone"></i>
        (41) 988869690
      </a>
    </div>
  </div>
</div>
