.about-projects-container {
  margin: 0 24px;
  padding: 60px 24px 0 260px;
}
.tasks-container {
  margin-top: 20px;
}

.tasks-card {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 10px;
}

.task-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.task-item:last-child {
  border-bottom: none;
}
