<header class="header">
  <div class="nav-actions">
    <div class="theme-toggle" (click)="toggleTheme()">
      <i class="pi" [ngClass]="isDarkTheme ? 'pi-sun' : 'pi-moon'"></i>
    </div>
    <div class="user-profile">
      <div class="user-avatar" (click)="toggleProfileMenu()">
        <i class="pi pi-user"></i>
      </div>
      <div class="profile-menu" *ngIf="showProfileMenu">
        <div class="menu-item" routerLink="/user/profile">
          <i class="pi pi-user"></i>
          <span>Meu Perfil</span>
        </div>
        <div class="menu-item" routerLink="/user/help-page">
          <i class="pi pi-question-circle"></i>
          <span>Ajuda</span>
        </div>
        <div class="menu-item" routerLink="/contact">
          <i class="pi pi-send"></i>
          <span>Ajuda</span>
        </div>
        <div class="divider"></div>
        <div *ngIf="isAuthenticated$ | async" class="menu-item logout-btn" (click)="logout()">
          <i class="pi pi-sign-out"></i>
          <span>Sair</span>
        </div>
      </div>
    </div>
  </div>
</header>
