$dark: #1e1f26;
$light-gray: #a9b0bb;
$strong-purple: #6e38ec;
$dark-purple: #2a1263;
$gray: #6b7280;
$hover: rgba(255, 255, 255, 0.05);

.signup-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.signup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: white;
  padding: 20px;
  overflow: hidden;
}

.signup-background {
  width: 50%;
  background-image: url('../../../assets/login-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.welcome-message {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

.welcome-message h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
  color: $gray;
}

.welcome-message h2 {
  font-size: 18px;
  font-weight: 400;
  color: $light-gray;
}

.divider {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: $light-gray;
}

.divider span {
  padding: 0 10px;
  font-size: 14px;
  color: $gray;
}

.signup-form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.form-group label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: $gray;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-field {
  width: 100%;
  font-size: 16px;
  padding: 10px 150px 10px 10px;
  border: 1px solid $light-gray;
  border-radius: 5px;
  text-align: left;
}

.input-field:focus + label,
.input-field:not(:placeholder-shown) + label {
  top: 5px;
  font-size: 12px;
  color: $gray;
}

.error-text {
  color: red;
  font-size: 12px;
}

button:hover {
  background-color: $strong-purple;
}

h3 {
  margin-top: 10px;
  font-size: 16px;
  color: #666;
}

.login-btn button {
  width: 100%;
  padding: 10px 80px;
  background-color: $strong-purple;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-btn button i {
  margin-right: 8px;
}

.login-btn button:hover {
  background-color: $dark-purple;
}

.extra-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;

  a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    margin: 5px 0;
    transition: color 0.3s ease;

    &:hover {
      color: $dark-purple;
    }
  }
}
