<div class="signup-container">
  <div class="signup-content">
    <div class="welcome-message">
      <h1>Bem-vindo de volta à timetracker.com</h1>
      <h2>Comece a gerenciar suas horas de projeto agora!</h2>
    </div>
    <div class="signup-form">
      <form (ngSubmit)="onSubmit()" #signupForm="ngForm" novalidate>
        <div class="form-group" [ngClass]="{'error-input': loginError}">
          <label for="email"></label>
          <input
            type="email"
            id="email"
            [(ngModel)]="email"
            name="email"
            required
            placeholder="nome@empresa.com"
            class="input-field"
            [ngClass]="{'input-error': loginError}"
          >
          <small *ngIf="signupForm.submitted && !email" class="error-text">O email é obrigatório.</small>
        </div>
        <div class="form-group password-group" [ngClass]="{'error-input': loginError}">
          <label for="password"></label>
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            [(ngModel)]="password"
            name="password"
            required
            placeholder="Digite sua senha"
            class="input-field"
            [ngClass]="{'input-error': loginError}"
          >
          <span class="password-toggle" (click)="togglePasswordVisibility()">
            <i class="pi" [ngClass]="showPassword ? 'pi-eye-slash' : 'pi-eye'"></i>
          </span>
          <small *ngIf="signupForm.submitted && !password" class="error-text">A senha é obrigatória.</small>
          <small *ngIf="loginError" class="error-text error-login">Email ou senha incorretos</small>
        </div>
        <div class="login-btn">
          <button pButton label="Entrar" type="submit" [disabled]="!signupForm.valid" class="signup-btn"></button>
        </div>
      </form>
    </div>
  </div>
  <div class="signup-background"></div>
</div>
