<app-admin-sidebar></app-admin-sidebar>
<app-admin-header></app-admin-header>

<div class="container">
  <div *ngIf="tarefa && tarefa.nome">
    <h1>Detalhes da Tarefa</h1>
    <div>
      <strong>Nome da Tarefa:</strong> {{ tarefa.nome }}
    </div>
    <div>
      <strong>Descrição:</strong> {{ tarefa.descricao }}
    </div>
    <div>
      <strong>Responsável:</strong> {{ tarefa.responsavel }}
    </div>
    <div>
      <strong>Status:</strong> {{ tarefa.status }}
    </div>
    <div>
      <strong>Horas Estimadas:</strong> {{ tarefa.horasEstimadas }} hr
    </div>

    <button (click)="editarTarefa()">Editar Tarefa</button>
  </div>

  <div *ngIf="isEditMode">
    <h2>Editar Tarefa</h2>
    <form (ngSubmit)="salvarAlteracoes()">
      <div>
        <label for="nome">Nome da Tarefa</label>
        <input id="nome" [(ngModel)]="tarefa.nome" name="nome" required />
      </div>
      <div>
        <label for="descricao">Descrição</label>
        <textarea id="descricao" [(ngModel)]="tarefa.descricao" name="descricao" required></textarea>
      </div>
      <div>
        <label for="dataInicio">Data de Início</label>
        <input id="dataInicio" type="date" [(ngModel)]="tarefa.dataInicio" name="dataInicio" required />
      </div>
      <div>
        <label for="dataFim">Data de Fim</label>
        <input id="dataFim" type="date" [(ngModel)]="tarefa.dataFim" name="dataFim" required />
      </div>
      <div>
        <label for="status">Status</label>
        <select id="status" [(ngModel)]="tarefa.status" name="status" required>
          <option *ngFor="let status of statusOpcoes" [value]="status">{{ status }}</option>
        </select>
      </div>
      <div>
        <label for="horasEstimadas">Horas Estimadas</label>
        <input id="horasEstimadas" type="number" [(ngModel)]="tarefa.horasEstimadas" name="horasEstimadas" required />
      </div>
      <button type="submit">Salvar Alterações</button>
    </form>
  </div>
</div>
