<div class="signup-container">
  <div class="signup-content">
    <div class="welcome-message">
      <h1>Esqueceu sua senha?</h1>
      <h2>Digite seu email para redefini-lá!</h2>
    </div>

    <form (ngSubmit)="onSubmit()" #signupForm="ngForm" novalidate>
      <div class="form-group">
        <label for="email"></label>
        <input type="email" id="email" [(ngModel)]="email" name="email" required placeholder="nome@empresa.com.br" class="input-field">
        <small *ngIf="signupForm.submitted && !email" class="error-text">O email é obrigatório.</small>
      </div>

      <div class="login-btn">
        <button pButton label="Enviar" type="submit" [disabled]="!signupForm.valid" class="signup-btn"></button>
      </div>

      <div class="extra-links">
        <a [routerLink]="'/login'" class="signup">Fazer Login</a>
      </div>
    </form>
  </div>

  <div class="signup-background"></div>
</div>
