<div class="sidebar">

  <div class="sidebar-logo">
    <img src="assets/logo-2.png" alt="Logo da aplicação">
  </div>
  
  <div class="nav-group">
    <div class="section-title">Principal</div>
    <nav>
      <ul>
        <li>
          <a routerLink="/admin/dashboard" routerLinkActive="active">
            <i class="pi pi-home"></i>
            <span>Dashboard</span>
          </a>
        </li>

        <li>
          <a routerLink="/admin/admin-projetos" routerLinkActive="active" class="has-submenu">
            <i class="pi pi-folder"></i>
            <span>Projetos</span>
          </a>
        </li>


        <li>
          <a routerLink="/admin//admin-relatorios" routerLinkActive="active" class="has-submenu">
            <i class="pi pi-chart-bar"></i>
            <span>Relatórios</span>
          </a>
        </li>

        <li>
          <a routerLink="/admin/hour-approval" routerLinkActive="active">
            <i class="pi pi-clock"></i>
            <span>Aprovar Horas</span>
          </a>
        </li>

        <li>
          <a routerLink="/admin/signup" routerLinkActive="active">
            <i class="pi pi-plus-circle"></i>
            <span>Adicionar Usuário</span>
          </a>
        </li>

        <li>
          <a routerLink="/admin/adicionar-cliente" routerLinkActive="active">
            <i class="pi pi-user-plus"></i>
            <span>Adicionar Clientes</span>
          </a>
        </li>

      </ul>
    </nav>
  </div>

  <div class="nav-group">
    <div class="section-title">Configurações</div>
    <nav>
      <ul>
        <li>
          <a routerLink="/admin/admin-profile" routerLinkActive="active">
            <i class="pi pi-user"></i>
            <span>Meu Perfil</span>
          </a>
        </li>
        <li>
          <a routerLink="/admin/help-page-admin" routerLinkActive="active">
            <i class="pi pi-question-circle"></i>
            <span>Central de Ajuda</span>
          </a>
        </li>
        <li>
          <a routerLink="/contact" routerLinkActive="active">
            <i class="pi pi-send"></i>
            <span>Fale Conosco</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="user-info">
    <div class="user-avatar">
      <a routerLink="/admin/admin-profile" routerLinkActive="active">
        <i class="pi pi-user"></i>
      </a>
    </div>
    <div class="user-details">
      <a routerLink="/logout" class="logout-link">
        <button *ngIf="isAuthenticated$ | async" (click)="logout()">Logout</button>
      </a>
    </div>
  </div>
</div>
